# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.swp

# SQLite / Database
*.sqlite
*.sqlite3
*.db
alembic.ini

# Project Specific
Mister_Starter_Pack/
personal/
